/* <hgroup>
        <p>block</p>
        <h1>block</h1></hgroup> */

@layer css.components {

    :is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
        color: rgb(var(--rgb-ink));
        font-family: var(--font-family-sans);
    }

    h1:not([data-size]),
    hgroup:not([data-size]) > h1,
    :is(h1, h2, h3, h4, h5, h6)[data-size="2xl"],
    hgroup[data-size="2xl"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--2xl-font-size);
        line-height: var(--2xl-line-height);
        letter-spacing: var(--2xl-letter-spacing);
    }

    h2:not([data-size]),
    hgroup:not([data-size]) > h2,
    :is(h1, h2, h3, h4, h5, h6)[data-size="xl"],
    hgroup[data-size="xl"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--xl-font-size);
        line-height: var(--xl-line-height);
        letter-spacing: var(--xl-letter-spacing);
    }

    h3:not([data-size]),
    hgroup:not([data-size]) > h3,
    :is(h1, h2, h3, h4, h5, h6)[data-size="lg"],
    hgroup[data-size="lg"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--lg-font-size);
        line-height: var(--lg-line-height);
        letter-spacing: var(--lg-letter-spacing);
    }

    :is(h4, h5, h6):not([data-size]),
    hgroup:not([data-size]) > :is(h4, h5, h6),
    :is(h1, h2, h3, h4, h5, h6)[data-size="md"],
    hgroup[data-size="md"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--md-font-size);
        line-height: var(--md-line-height);
        letter-spacing: var(--md-letter-spacing);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-size="sm"],
    hgroup[data-size="sm"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--sm-font-size);
        line-height: var(--sm-line-height);
        letter-spacing: var(--sm-letter-spacing);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-size="xs"],
    hgroup[data-size="xs"] > :is(h1, h2, h3, h4, h5, h6) {
        font-weight: bold;
        font-size: var(--xs-font-size);
        line-height: var(--xs-line-height);
        letter-spacing: var(--xs-letter-spacing);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-chip],
    hgroup[data-chip] > :is(h1, h2, h3, h4, h5, h6) {
        position: relative;
        padding-left: calc(1em / 3 + 0.5em);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-chip]::before,
    hgroup[data-chip] > :is(h1, h2, h3, h4, h5, h6)::before {
        position: absolute;
        top: 0.2em;
        bottom: 0.1em;
        left: 0;
        width: calc(1em / 3);
        background-color: var(--color-emphasis);
        content: "";
    }

    @supports (top: 1lh) {
        :is(h1, h2, h3, h4, h5, h6)[data-chip]::before,
        hgroup[data-chip] > :is(h1, h2, h3, h4, h5, h6)::before {
            top: calc(0.5lh - 0.45em);
            bottom: calc(0.5lh - 0.55em);
        }
    }

    @media (forced-colors: active) {
        :is(h1, h2, h3, h4, h5, h6)[data-chip]::before,
        hgroup[data-chip] > :is(h1, h2, h3, h4, h5, h6)::before {
            background-color: CanvasText;
        }
    }

    :is(h1, h2, h3, h4, h5, h6)[data-rule],
    hgroup[data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom: solid var(--color-emphasis);
    }

    h1[data-rule]:not([data-size]),
    hgroup[data-rule]:not([data-size]) > h1,
    :is(h1, h2, h3, h4, h5, h6)[data-size="2xl"][data-rule],
    hgroup[data-size="2xl"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: 0.5rem;
        padding-bottom: calc(20 / 16 * 1rem);
    }

    h2[data-rule]:not([data-size]),
    hgroup[data-rule]:not([data-size]) > h2,
    :is(h1, h2, h3, h4, h5, h6)[data-size="xl"][data-rule],
    hgroup[data-size="xl"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: 0.375rem;
        padding-bottom: 1rem;
    }

    h3[data-rule]:not([data-size]),
    hgroup[data-rule]:not([data-size]) > h3,
    :is(h1, h2, h3, h4, h5, h6)[data-size="lg"][data-rule],
    hgroup[data-size="lg"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: 0.3125rem;
        padding-bottom: calc(14 / 16 * 1rem);
    }

    :is(h4, h5, h6)[data-rule]:not([data-size]),
    hgroup[data-rule]:not([data-size]) > :is(h4, h5, h6),
    :is(h1, h2, h3, h4, h5, h6)[data-size="md"][data-rule],
    hgroup[data-size="md"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: 0.25rem;
        padding-bottom: calc(12 / 16 * 1rem);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-size="sm"][data-rule],
    hgroup[data-size="sm"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: calc(3 / 16 * 1rem);
        padding-bottom: calc(10 / 16 * 1rem);
    }

    :is(h1, h2, h3, h4, h5, h6)[data-size="xs"][data-rule],
    hgroup[data-size="xs"][data-rule] > :is(h1, h2, h3, h4, h5, h6) {
        border-bottom-width: 0.125rem;
        padding-bottom: 0.5rem;
    }

    hgroup > p {
        margin: 0;
        color: rgb(var(--rgb-ink));
        font-family: var(--font-family-sans);
        font-weight: bold;
        font-size: var(--sm-font-size);
        line-height: var(--sm-line-height);
        letter-spacing: var(--sm-letter-spacing);
    }
}
